{% extends "base.html" %}
{% block title %}login{% endblock%}
{%block content %}
<form method="Post">
 <h3 align="center">
   Login
 </h3>
 <div class="form-group">
  <label for="email">EMAIL address</label>
   <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email"
   />
  <label for="password">Password</label>
   <input type="password" id="password" name="password" class="form-control" placeholder="Enter Email"
   />
  <br/>
  <button class="btn btn-primary" type="submit">Submit</button>
 </div>
</form>
{% endblock %}